.w_wind__icon {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.w_wind__icon svg path {
    fill: #777;
}

.wind_arrow {
    transform: initial;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.wind_arrow.arrow_1 {
    transform: rotate(-180deg);
}

.wind_arrow.arrow_2 {
    transform: rotate(-135deg);
}

.wind_arrow.arrow_3 {
    transform: rotate(-90deg);
}

.wind_arrow.arrow_4 {
    transform: rotate(-45deg);
}

.wind_arrow.arrow_5 {
    transform: rotate(0);
}

.wind_arrow.arrow_6 {
    transform: rotate(45deg);
}

.wind_arrow.arrow_7 {
    transform: rotate(90deg);
}

.wind_arrow.arrow_8 {
    transform: rotate(135deg);
}

.wind_arrow.arrow_9 {
    transform: rotate(180deg);
}